<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Municipality Full Suite">
    <test name="Regression">
        <classes>
            <class name="com.municipality.tests.FileComplaintTest"/>
            <class name="com.municipality.tests.DashBoardPageTest"/>
            <class name="com.municipality.tests.CitizenLoginTest"/>
        </classes>
    </test>
</suite>