services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend/firebase-service.json:/run/secrets/firebase-service.json:ro
    depends_on:
      - mongo
    env_file:
      - ./backend/.env
    restart: always

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: always

  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always

  chrome:
    image: selenium/standalone-chrome:latest
    shm_size: "2gb"
    ports:
      - "4444:4444"
    restart: always

  automation:
    build: ./automation
    depends_on:
      - frontend
      - chrome
    environment:
      - REMOTE_URL=http://chrome:4444/wd/hub
      - BASE_URL=http://frontend:5173
    restart: always

volumes:
  mongo_data:
